*{
    padding: 0;
    margin: 0;
box-sizing: border-box;
font-family: 'Lato', sans-serif;
}

body{
    background-color: #0F0F0F;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #fff;

}

.hide{
    display: none  !important;
}

.container{
    min-width: 400px;
    min-height: 400px;
    background-color: #001524;
    padding: 2rem;
}

/* form IMC */
#calc-container h2{
    text-align: center;
    margin-bottom: 2rem;
}

.input-form{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.control{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 1rem;
}

.control label{
    font-weight: bold;
    margin-bottom: 0.6rem;
    color: #888;
}

.control input{
    padding: 1rem .5rem;
}

.control-action{
    display: flex;
    justify-content: space-between;
    margin-top:2rem;
    gap:1rem;
}

/* buttons */
button{
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    background-color: #e9510b;
    border: none;
    color: #fff;
    cursor: pointer;
    flex: 1rem;
    transition: 0.3s;
}

#btn-cal:hover{
    background-color: #ff5507;
}

#btn-clean{
    background-color: #131212;
}

#btn-clean:hover{
    background-color: #1d1b1b;
}

/* table */
#result{
    text-align: center;
    display: flex;
    flex-direction: column;
}

#number-imc{
    font-size: 2.6rem;
    margin-bottom: .6rem;
}

#info-imc{
    font-size: 1.4rem;
    color: #ccc;
}

#result h3{
    margin-top: 1rem;
    color: #DFDFDF;
}

#table-imc{
    margin: 1.5rem 0;
    font-size: .8rem;
}

.table{
    font-weight: bold;
    color: #ccc;
}

.table,
.table-data{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    padding-bottom: .5rem;
    border-bottom: 1px solid #444;
}

.table h4,
.table-data p{
    flex:1;
}

.table h4:nth-child(3),
.table-data p:nth-child(3){
    max-width: 80px;
}

#back-btn{
    align-self: center;
}

/* Status */
.good{
  color: #12db34;  
}

.low{
    color: #dbce12;  
  }

  .medium{
    color: #db6212;  
  }

  .high{
    color: #db1912;  
  }
